body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: "Goldman", cursive;
  background-image: url("../img/bg_snake.jpg");
  background-size: cover;
}

#game-board {
  background-color: black;
  box-shadow: 1px -1px 115px -11px black;
}

.screen-score {
  font-size: 48px;
  font-weight: 800;
  margin: 5px;
  padding: 0;
}

.header-title {
  font-size: 56px;
  padding: 0;
  margin: 0;
}
